*.asv
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
nt_db_examples.mat_copy
nt_db_examples.mat_copy
nt_db_examples.mat.lock
nt_db_examples.mat_copy
test_data/nttestdb_examples.mat.lock
test_data/nttestdb_examples.mat_copy
.vscode/settings.json
novitrack/.vscode/settings.json
